* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body{
    background-image: linear-gradient(180deg, #50B285, #2D6A4F);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(64,145,108);
    height: 100px;
}

.esquerdaHeader{
    display: flex;
    width: 12.5%;
    justify-content: center;
    align-items: center;
}

.esquerdaHeader input{
    height: auto;
    max-height: 80px;
}

.direitaHeader{
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.direitaHeader input{
    height: auto;
    max-height: 60px;
    font-family: 'Heebo';font-size: 30px;
    color: white;
    background: none;
    -webkit-text-stroke: 0.4px rgb(34, 113, 86);
    text-shadow: 3px 4px rgb(34, 113, 86);
    stroke:  rgb(34, 113, 86);
}

.imagemCentral{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
}
.imagemCentral img{
    max-width: 85%;
}

.explorer{
    height: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Heebo';font-size: 28px;
    color: white;
}

.explorer img{
    max-width: 35px;
}