* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
}

html, body {
    width: 100%;
    height: 100%;
}


body{
    height: 200%;
    background: linear-gradient( #50B285, #2D6A4F);
    background-attachment: fixed;

}


.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(64,145,108);
    height: 6%;
}

.esquerdaHeader{
    display: flex;
    width: 12.5%;
    justify-content: center;
    align-items: center;
}

.esquerdaHeader input{
    height: 75%;
}

.direitaHeader{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.direitaHeader input{
    font-family: 'Heebo';
    font-size: 30px;
    color: white;
    background: none;
}

.direitaHeader input[type="image"]{
    width: 45%;
}

.img_exp{
    height: 42.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imagemCentral{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 7%;
    height: 75%;
}

.imagemCentral img{
    width: 85%;
}

.explorer{
    height: 16.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Heebo';
    font-size: 28px;
    color: white;
}

.explorer img{
    width: 90%;
}