@import url('https://fonts.googleapis.com/css2?family=Cantata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

*:focus{
    outline: 0;
}

body{
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

/* 
========================
    Header - Menu Bar 
========================*/

.header{
    background-color: #40916C;
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.left_header{
    display: flex;
    align-items: center;
    margin-left: 3vw;
}

.left_header input[type="image"]{
    height: 10vh;
}

.right_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3vw;
}

.right_header input[type="button"]{
    background: none;
    font-family: 'Heebo', sans-serif;
    color: white;
    font-size: 2vw;
    margin-right: 4vw;
}

.right_header input[type="image"]{
    height: 8vh;
}

/* 
========================
        Left Side 
========================*/

.user-portal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.left-side {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 20px 0px 0px 0px;
}

.premium-button {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.donate-button {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

#premim-btn-txt, #donate-btn-txt {
    font-family: 'Cantata One';
    font-size: 15px;
    margin: 15px;
}

#user-name-txt {
    font-family: 'Heebo';
    font-size: 24px;
    margin: 15px;
}

.right-side {
    border: blue solid 2px;
    width: 100%;
    height: 100%;
    background: linear-gradient( #50B285, #2D6A4F);
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.right-side-top {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.objective {
    border: red solid 2px;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.restriction {
    border: green solid 2px;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.choice {
    border: purple solid 2px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.more-information {
    border: black solid 2px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.left-information {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.right-information {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.nutricionist-button {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 15px;
}

#objective, #limit, 
#more-info, #alergic {
    font-family: 'Cantata One';
    color: white;
    font-size: 20px;
}

label {
    font-family: 'Heebo';
    color: white;
    font-size: 16px;
}

#peso_usuario, #altura_usuario, #atv_fisica_usuario {
    font-family: 'Cantata One';
    font-size: 14px;
}